.hero {
  display: flex;
  padding: 10rem 10rem 0rem 0rem ;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.hero h1 {
  padding: 2rem;
  font-size: 40px;

  /* padding: 3rem; */
}

.hero h2 {
  padding: 8rem 2rem 2rem 2rem;
  font-size: 25px;

  /* padding: 3rem; */
}

.logo {
  width: 60%;
  height: 60%;
  object-fit: contain;
}