.hero {
  display: flex;
  padding: 10rem 10rem;
  text-align: center; 
  align-items: center;
  vertical-align: center;
  position: relative;
  /* background: #f9f9f9; */
}

/* .hero h1 {
  font-size: 3rem;
  padding-bottom: 1rem;
} */

.getStartedButton {
  margin-right: 0.6rem;
}



.logo {

  width: 25rem;
  height: 25rem;
}