.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(90vh - var(--ifm-navbar-height) - var(--ifm-footer-height)); /* 减去导航栏和页脚的高度 */
  text-align: center;
  color: white;
  padding: 2rem 0;
  position: relative; /* 确保内容定位正常 */
  z-index: 0; /* 默认层级 */
}

.hero::before {
  content: "";
  position: fixed; /* 背景图固定在视口 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/img/bg.jpeg) no-repeat center center/cover;
  z-index: -1; /* 确保背景图在内容后面 */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%; /* 使行元素高度充满父容器 */
}

.col {
  flex: 1 1 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 50%;
  height: auto;
  padding: 2rem;/* 增加一些底部间距 */
}

button {
  margin-top: 0rem;
}

.poetry {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 10px;
}

.poetry h2 {
  font-size: 2.0rem;
  margin-bottom: 1rem;
}

.poetry p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 0.5rem 0;
}

.logoSpin {
  animation: logo-spin 2s linear infinite;
}

@keyframes logo-spin {
  100% {
    transform: rotate(360deg);
  }
}
/* 媒体查询 */
@media (max-width: 768px) {
  .hero {
    padding: 1rem 0;
    height: auto; /* 允许内容根据需要扩展高度 */
  }

  .col {
    flex: 1 1 100%;
    padding: 0.5rem;
  }

  .logo {
    max-width: 100%;
  }
}