/* 主题色 */
:root {
	/*--ifm-color-primary: #0094d9;*/
	--ifm-color-primary: #d8b132;
}


/* 目录样式优化 */
.table-of-contents .table-of-contents__link--active {
	font-weight: var(--ifm-font-weight-semibold);
	margin-left: -16px;
	padding-left: 12px;
	border-left: 4px solid var(--ifm-link-color);
}



/* 去掉侧边栏右侧的分割线 */
.main-wrapper>div>div {
	border-right: none !important;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
	border-radius: 10px;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 0, 0, 0.4);
  }
  .dropdown__menu{
	min-width: 7rem!important;
  }

  code {
  color: var(--ifm-color-primary);
  font-family: 'Noto Sans';
}